# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  - master

variables:
  buildConfiguration: "Release"

stages:
  - stage: Build
    displayName: Build Publish Artifacts
    pool:
      vmImage: ubuntu-latest

    jobs:
      - job: BuildJob
        displayName: Build ASP.Net Core (API) - 'dotnet build $(buildConfiguration)'
        steps:
          - script: dotnet build --configuration $(buildConfiguration)
            displayName: Actual Build

          - task: PublishBuildArtifacts@1
            displayName: Publish Build Artifacts
            inputs:
              PathtoPublish: "$(Build.ArtifactsStagingDirectory)/output"
              ArtifactName: "drop"
              publishLocation: "Container"

  - stage: DeployToDev
    displayName: Deploy Dev Environment
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: DeployDev
        displayName: Deploy Dev App
        environment: "Development"
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebApp@1
                  displayName: Deploy Azure Web App
                  inputs:
                    azureSubscription: "61e65089-1b42-4682-9879-f39c273703be"
                    appType: "webAppLinux"
                    appName: "api-stgs"
                    package: "$(Pipeline.Workspace)/drop/*.zip"
